<%#   
The majority of the Supplejack API code is Crown copyright (C) 2014, New Zealand Government, 
and is licensed under the GNU General Public License, version 3.
One component is a third party component. See https://github.com/DigitalNZ/supplejack_api for details. 

Supplejack was created by DigitalNZ at the National Library of NZ and 
the Department of Internal Affairs. http://digitalnz.org/supplejack 
%>

<div class="row">
  <div class="large-4 columns">
    <h3><%= t('users.name') %></h3>
    <h4 class="subheader"><%= @user.name %></h4>
  </div>

  <div class="large-4 columns">
    <h3><%= t('users.username') %></h3>
    <h4 class="subheader"><%= @user.username %></h4>
  </div>

  <div class="large-4 columns">
    <h3><%= t('users.email') %></h3>
    <h4 class="subheader"><%= @user.email %></h4>
  </div>
</div>

<hr/>

<div class="row">
  <div class="large-12 columns">
    <%= high_chart('api_requests', @api_requests) %>
  </div>
</div>